<footer>
		<div class="footer">
			<div class="container">
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
					<h2>SendMoney</h2>
					<p>In a elit in lorem congue varius. Sed nec arcu.
					Etiam sit amet augue.
					Fusce fermen tum neque a rutrum varius odio pede 
					ullamcorp-er tellus ut dignissim nisi risus non tortor.
					Aliquam mollis neque.</p>
					
					<ul class="social-network">
						<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin fa-1x"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest fa-1x"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus fa-1x"></i></a></li>
					</ul>
				</div>
				
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.4s">
					<h3>Our Services</h3>
					<ul>
						<li>Awesome Design with Overviews</li><hr>
						<li>Great Design with Features </li><hr>
						<li>Limitless functions & Works </li><hr>
						<li>Send Money around the world</li>
					</ul>
				</div>
				
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
					<h3>CONTACT INFO</h3>
					<ul>
						<li><i class="fa fa-home fa-2x"></i> Office # 38, 4th Floor, UTC, Kigali Rwanda</li><hr>
						<li><i class="fa fa-phone fa-2x"></i> +250 72200000</li><hr>
						<li><i class="fa fa-envelope fa-2x"></i> info@sendmoney.com</li>
					</ul>
				</div>
				
			</div>
		</div>
		
		<div class="sub-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						&copy; MoneyTransfer. All Rights Reserved.
					</div>
					<div class="col-md-6">
						<ul class="pull-right">
							<li><a href="#!/howitworks">How it works</a></li>
							<li><a href="#!/aboutus">About us</a></li>
							<li><a href="#!/helpsupport">Help & Support</a></li>	
							<li><a href="#!/blog">Blog</a></li>	
						</ul>
					</div>
				</div>
				<div class="pull-right">
					<a href="#!/" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
				</div>
			</div>
		</div>		
	</footer>