<header>		
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="navigation">
				<div class="container">					
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="navbar-brand">
							<a href="#/"><h1><span>Money</span>Transfer</h1></a>
						</div>
					</div>
					
					<div class="navbar-collapse collapse">							
						<div class="menu">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation"><a href="#howitworks">How it works</a></li>
								<li role="presentation"><a href="#aboutus">About us</a></li>
								<li role="presentation"><a href="#helpsupport">Help & Support</a></li>	
								<li role="presentation"><a href="#blog">Blog</a></li>	
								<li role="presentation"><a href="#">Sign in | Join </a></li>			
							</ul>
						</div>
					</div>						
				</div>
			</div>	
		</nav>		
