<section id="blog" class="container">
        <div class="blog" ng-controller="sendMoneyHomeController">
            <div class="row">
                <div class="col-md-2">
                   <div class="blog-item">
                    <div class="entry-meta">
                        <span id="publish_date">Home</span>
                        <span><a href="javascript:void(0)" ng-class="{'adisabled': !usable}" ng-click="showMenu(1)">Transactions</a></span>
                        <span><a href="javascript:void(0)" ng-class="{'adisabled': !usable}" ng-click="showMenu(2)">Send Money</a></span>
                        <span><a href="javascript:void(0)" ng-class="{'adisabled': !usable}" ng-click="showMenu(3)">Phone Book</a></span>
                    </div>
                    </div>
                </div>
                <div class="col-md-8">
                  <!-- Alert for pending customers-->
                    <div class="{{alertclass}}" role="alert" ng-show="PendingCustomer" >
                      <strong>Warning!</strong>                   
                      <div ng-bind-html="message"></div>
                      <b> <a  href="#!/editprofile">You can also click here to update the details you provided</a> </b>
                    </div>
                    <!-- End Alert for pending customers--> 

                  <div class="panel panel-default" ng-show="TransactionsTable">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><b>Transactions</b></div>
                    <!-- Table -->
                    <div class="table-responsive">
                    <table class="table table-striped table-bordered table-list" >
                      <thead>
                            <tr>
                                <th class="hidden-xs">#</th>
                                <th>Receiver</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Date & Time</th>
                            </tr> 
                          </thead>
                          <tbody>
                            <tr ng-repeat="transaction in transactions">
                              <td class="hidden-xs">{{$index + 1}}</td>
                              <td>{{transaction.receiver_number}}</td>
                              <td>
                                <div ng-if="transaction.transaction_type == 'c2m' ">{{transaction.amount/100}}</div>
                                <div ng-if="transaction.transaction_type == 'm2m' ">{{transaction.amount}}</div>
                              </td>
                              <td>
                                <div ng-if="transaction.status == 1 ">Successful</div>
                                <div ng-if="transaction.status == 0 ">Failed</div>
                              </td>
                              <td>
                                <div ng-if="transaction.transaction_type == 'c2m' ">Card to Mobile</div>
                                <div ng-if="transaction.transaction_type == 'm2m' ">Mobile to Mobile</div>
                              </td>
                              <td>{{getTimezone(transaction.updated_at) | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            </tr>
                          </tbody>
                    </table>
                    </div>
                    <div class="panel-footer">
                      <div class="row" ng-hide="transactions.length == 0">
                        <div class="col col-xs-4">
                          Page {{currentPage}} of {{totalPages}}
                        </div>
                        <div class="col col-xs-8">
                          <ul class="pagination pagination-lg">
                            <li>
                              <a href="javascript:void(0)" ng-click="prevPage()">&lsaquo; Prev </a>
                            </li> 
                            <li ng-repeat="i in range" ng-class="{active : currentPage == i}">
                              <a href="javascript:void(0)" ng-click="getTnx(i)">{{i}}</a>
                            </li>
                            <li>
                              <a href="javascript:void(0)" ng-click="nextPage()">Next &rsaquo;</a>
                            </li>
                          </ul><!--/.pagination-->
                        </div>
                      </div>
                    </div>
                  </div>
                    <!-- Panel -->
                    <div class="panel panel-default" ng-show="CustomerForm" >
                      <div class="panel-heading">
                        <h3 class="panel-title">Customer Information</h3>
                      </div>
                      <div class="panel-body">
                        <form  class="form-horizontal">
                        <div id="div_id_name" class="form-group required"> 
                            <label for="id_name" class="control-label col-md-4  requiredField">First name<span class="asteriskField">*</span> </label> 
                            <div class="controls col-md-8 "> 
                                <input class="input-md textinput textInput form-control" id="id_name" name="name" placeholder="First name" style="margin-bottom: 10px" type="text"  ng-model="record.first_name"/>
                            </div>
                        </div>
                        <div id="div_id_name" class="form-group required"> 
                            <label for="id_name" class="control-label col-md-4  requiredField"> Last name<span class="asteriskField">*</span> </label> 
                            <div class="controls col-md-8 "> 
                                <input class="input-md textinput textInput form-control" id="id_name" name="name" placeholder="Last name" style="margin-bottom: 10px" type="text"  ng-model="record.last_name"/>
                            </div>
                        </div>
                        <div id="div_id_name" class="form-group required"> 
                            <label for="id_name" class="control-label col-md-4  requiredField"> Phone Number<span class="asteriskField">*</span> </label> 
                            <div class="controls col-md-8 ">
                               <div class="input-group">
                                <div class="input-group-btn" style="width:200px">
                                  <select class="form-control" ng-model="record.prefix_code">
                                    <option value="{{country.phonecode}}" ng-repeat="country in countries">{{country.nicename}} (+ {{country.phonecode}})</option>
                                  </select>
                                </div><!-- /btn-group -->
                                <input type="text" class="form-control" ng-model="record.phonenumber" >
                              </div><!-- /input-group -->
                            </div>
                        </div>
                        <div id="div_id_name" class="form-group required"> 
                            <label for="id_name" class="control-label col-md-4  requiredField"> ID Number<span class="asteriskField">*</span> </label> 
                            <div class="controls col-md-8 "> 
                                <input class="input-md textinput textInput form-control" id="id_name" name="name" placeholder="Your ID Number" style="margin-bottom: 10px" type="text"  ng-model="record.nid"/>
                            </div>
                        </div>
                        <div id="div_id_gender" class="form-group required">
                            <label for="id_gender"  class="control-label col-md-4  requiredField"> Gender<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 "  style="margin-bottom: 10px">
                                 <label class="radio-inline"> <input type="radio" name="gender" id="id_gender_1" value="M"  style="margin-bottom: 10px" ng-model="record.sex">Male</label>
                                 <label class="radio-inline"> <input type="radio" name="gender" id="id_gender_2" value="F"  style="margin-bottom: 10px" ng-model="record.sex">Female </label>
                            </div>
                        </div>
                        <div id="div_id_company" class="form-group required date"> 
                            <label for="id_company" class="control-label col-md-4  requiredField"> Date of Birth<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 "> 
                                <div class="input-group">
                                <div class="input-group-btn" style="width:200px">
                                  <select class="form-control" ng-model="record.year">
                                    <option value="{{year.yvrb}}" ng-repeat="year in years">{{year.yvrb}}</option>
                                  </select>
                                </div><!-- /btn-group -->
                                <div class="input-group-btn" style="width:200px">
                                  <select class="form-control" ng-model="record.month">
                                    <option value="{{month.mvrb}}" ng-repeat="month in months">{{month.mvrb}}</option>
                                  </select>
                                </div><!-- /btn-group -->
                                <div class="input-group-btn" style="width:200px">
                                  <select class="form-control" ng-model="record.day">
                                    <option value="{{day.dvrb}}" ng-repeat="day in days">{{day.dvrb}}</option>
                                  </select>
                                </div><!-- /btn-group -->
                              </div><!-- /input-group -->
                            </div>
                        </div> 
                        <div id="div_id_catagory" class="form-group required">
                          <label for="id_catagory" class="control-label col-md-4  requiredField">ID Card document (jpg)<span class="asteriskField">*</span> </label>
                          <div class="controls col-md-8 "> 
                           <div class="input-group">
                        
                           
                             <input type="file" file-model="record.image_file"/>
                          </div><!-- /input-group --> 
                          </div>
                            
                        </div> 

                        <div id="div_id_catagory" class="form-group required">
                            <label for="id_catagory" class="control-label col-md-4  requiredField"> Nationality<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 "> 
                                 <input class="input-md textinput textInput form-control" id="id_catagory" name="catagory" placeholder="Nationality" style="margin-bottom: 10px" type="text" ng-model="record.nationality"/>
                            </div>
                        </div> 
                        <div class="form-group"> 
                            <div class="aab controls col-md-4 "></div>
                            <div class="controls col-md-8 ">
                                <input type="hidden" ng-model="record.user_id" value="{{userid}}" ng-init="record.user_id=userid"/>
                                <button class="btn btn-xs btn btn-primary btn btn-info pull-right"  ng-click="saveCustomer()">Submit</button>
                            </div>
                        </div> 
                            
                    </form>
                      </div>
                    </div>
                    <!-- Panel Send Money-->
                    <div ng-show="TransferMoneyForm" >
                    <div class="panel panel-info" >
                        <div class="panel-heading">
                          <h3 class="panel-title">Pick Transfer Type</h3>                      
                          <label class="radio-inline">
                            <input type="radio"  value="c2b"  style="margin-bottom: 10px" ng-model="payment_type">Card to Mobile
                          </label>
                          <label class="radio-inline"> 
                            <input type="radio" value="m2m"  style="margin-bottom: 10px" ng-model="payment_type">Mobile to Mobile
                          </label>
                         </div>
                    </div>
                    <div ng-switch="payment_type">
                      <div ng-switch-when="c2b">
                        <div class="panel panel-info" >
                          <div class="panel-heading">
                            <h3 class="panel-title">Card to Mobile</h3>                      
                          </div>
                          <div class="panel-body" ng-controller="transferMoneyController">
                            <form name="c2bForm" stripe-form="stripeCallback" ng-submit="onSubmit()" data-abide>
                              <div ng-if="processing" us-spinner></div>
                                <alert ng-if="stripeError" class="alert-danger" type="'alert'" close="hideAlerts()">          
                                  <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>Error!</strong> {{stripeError}}
                                  </div>
                                </alert>
                                <alert ng-if="stripeToken" class="alert-success" close="hideAlerts()">
                                  <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>Success!</strong> {{stripeToken}}
                                  </div>
                                </alert>
                                <div class="row">
                                  <div class="col-md-6">
                                     <div class="row">
                                          <div class='col-xs-12 form-group '>
                                            <label class='control-label'>Card Name</label>
                                            <input class='form-control' size='4' type='text' id="name"  name="cardname" required>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class='col-xs-12 form-group card required'>
                                            <label class='control-label'>Card Number</label>
                                            <input autocomplete='off'  size='20' type='text' id="cardn"   name="cardnumber" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" class="form-control" />
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class='col-xs-6 form-group cvc required'>
                                            <label class='control-label'>CVC</label>
                                            <input autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='4' type='text' id="cvc" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type">
                                          </div>
                                          <div class='col-xs-6 form-group expiration required'>
                                            <label class='control-label'>Expiration</label>
                                            <input class='form-control card-expiry-month' placeholder='MM/YYYY' size='2' type='text' id="exp" ng-model="expiry" payments-validate="expiry" payments-format="expiry" >
                                          </div>
                                      </div>   
                                  </div>
                                  <div class="col-md-6">
                                    <div class="row">
                                      <div class='col-xs-6 form-group cvc required'>
                                        <label  class="control-label">Receiver Prefix</label>
                                        <select class="form-control" ng-model="countrycode" data-ng-change="ConvertCurr()">
                                          <option value="{{cur.phonecode}}" ng-repeat="cur in currencies">{{cur.country}} (+ {{cur.phonecode}})</option>
                                        </select>
                                      </div>
                                      <div class='col-xs-6 form-group expiration required'>
                                        <label  class="control-label">Receiver Number</label>
                                        <input type="text" class="form-control"  placeholder="Phone Number" ng-model="phonenumber">
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-xs-6 form-group'>
                                          <label  class="control-label">Amount to receive</label>
                                          <input type="number" class="form-control"  placeholder="Amount"  data-ng-model="amount" data-ng-change="forExConvert()">
                                        </div>
                                        <div class='col-xs-6 form-group'>
                                          <label  class="control-label">Recipient gets </label>
                                              <input type="text" class="form-control total btn btn-info"  data-ng-model="pay_amount" data-ng-change="forExConvert()"  disabled>
                                        </div>
                                    </div>  
                                    <div class="row">
                                      <div class='col-md-12 form-group'>
                                        <button class='form-control btn btn-primary submit-button' type='submit'>Send »</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div ng-switch-when="m2m">
                             <div class="panel panel-info" >
                                <div class="panel-heading">
                                  <h3 class="panel-title">Mobile to Mobile</h3>                      
                                </div>
                                <div class="panel-body" ng-controller="transferMoneyController">
                                <form name="m2mForm"  ng-submit="onSubmit()">
                                <div ng-if="processing" us-spinner></div>
                                <alert ng-if="stripeError" class="alert-danger" type="'alert'" close="hideAlerts()">                           
                                  <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>Error!</strong> {{stripeError}}
                                  </div>
                                </alert>
                                <alert ng-if="stripeToken" class="alert-success" close="hideAlerts()">
                                  <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>Success!</strong> {{stripeToken}}
                                  </div>
                                </alert>
                                  <div class="col-md-6">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                              <label  class="control-label">Receiver Prefix</label>
                                              <select class="form-control" ng-model="countrycode" data-ng-change="forExConvert()">
                                                <option value="{{cur.phonecode}}" ng-repeat="cur in currencies">{{cur.country}} (+ {{cur.phonecode}})</option>
                                              </select>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                              <label  class="control-label">Receiver Number</label>
                                              <input type="text" class="form-control"  placeholder="Phone Number" ng-model="phonenumber">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                              <label  class="control-label">Amount to receive</label>
                                              <input type="number" class="form-control"  placeholder="Amount" data-ng-model="amount" data-ng-change="forExConvert()">
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                              <label  class="control-label">Recipient gets </label>
                                              <input type="text" class="form-control total btn btn-info"  data-ng-model="pay_amount" data-ng-change="forExConvert()"  disabled>
                                            </div>
                                          </div>
                                        </div>
                                        <div class='form-row'>
                                          <div class='col-md-12 form-group'>
                                            <button class='form-control btn btn-primary submit-button' type='submit' ng-click="saveTransfer()">Send »</button>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                    
                                  </div>
                                  </form>
                                </div>
                              </div>
                           </div>
                    </div>
                                        
                    </div>
                    
                    
                     <!-- Panel PhoneBook-->
                    <div class="panel panel-default" ng-show="PhoneBookForm" >
                      <div class="panel-heading">
                        <h3 class="panel-title">PhoneBook</h3>
                      </div>
                      <div class="panel-body">
                        <label  class="control-label">Firstname and Lastname</label>
                        <div class="row">
                            <div class="col-md-3">
                              <div class="form-group form-group-sm">
                                <input type="text" class="form-control" id="firstname" placeholder="Firstname">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group form-group-sm">
                                <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                              </div>
                            </div>
                        </div>
                        <label  class="control-label">Phone Number</label>
                        <div class="row">
                            <div class="col-md-3">
                              <div class="form-group form-group-sm">
                                <select class="form-control">
                                            <option value="93">AFGHANISTAN (+93)</option>
                                            <option value="355">ALBANIA (+355)</option>
                                            <option value="213">ALGERIA (+213)</option>
                                        </select>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group form-group-sm">
                                <input type="text" class="form-control"  placeholder="Phone Number">
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="panel-footer">
                         <button id="btn-signup" type="button" class="btn btn-primary" ng-click="save()"><i class="icon-hand-right"></i>Save Number</button>
                      </div>
                    </div>
                  </div>
                  

                  <aside class="col-md-2">
                    <div class="blog-item">
                      <div class="entry-meta">
                        <span id="publish_date"><i class="fa fa-user fa-fw"></i> <b>{{user.email.split('@')[0]}} | Settings</b></span>
                        <span><a href="#!/editprofile"><i class="fa fa-user fa-fw"></i>User Profile</a></span>
                        <span><a href="#!/changepwd"><i class="fa fa-gear fa-fw"></i>Change Password</a></span>
                      </div>
                    </div>
    			       </aside>  
            </div><!--/.row-->

            


        </div>
    </section><!--/#blog-->